body {
    font-family: Arial;
    background: linear-gradient(135deg, #667eea, #764ba2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.quiz-container {
    background: white;
    color: #333;
    padding: 30px;
    border-radius: 15px;
    width: 350px;
    text-align: center;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

#nextBtn {
    background: #667eea;
    color: white;
}

.correct {
    background: #4CAF50;
    color: white;
}

.wrong {
    background: #f44336;
    color: white;
}
