body {
    font-family: Arial;
    background: linear-gradient(135deg, #00c6ff, #0072ff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.container {
    background: white;
    color: #333;
    padding: 25px;
    border-radius: 15px;
    width: 400px;
    text-align: center;
}

#sentence {
    font-weight: bold;
    margin-bottom: 15px;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

button {
    padding: 8px 15px;
    border: none;
    border-radius: 8px;
    background: #0072ff;
    color: white;
    cursor: pointer;
}
