body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #ffafbd, #ffc3a0);
    font-family: Arial;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

#emojiDisplay {
    font-size: 80px;
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    background: #ff6f61;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}
