body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg,#43cea2,#185a9d);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: white;
  padding: 25px;
  border-radius: 10px;
  width: 330px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
  text-align: center;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  background: #185a9d;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #0f3c6e;
}
