body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #141e30, #243b55);
    font-family: Arial, sans-serif;
}

.clock-container {
    background: white;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

h1 {
    margin-bottom: 20px;
}

#clock {
    font-size: 50px;
    font-weight: bold;
    color: #243b55;
}
