body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #1d4350, #a43931);
    font-family: Arial;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#strengthMessage {
    margin-top: 15px;
    font-weight: bold;
}
